<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>

    <link rel="stylesheet" href="../css/clank.css" media="screen">
    <link rel="stylesheet" href="../css/entertain.css" media="screen">

    <script src="../bower_components/jquery/jquery.min.js"></script>
    <script src="../bower_components/jquery.extendedinput.js/js/jquery.extendedinput.min.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../bower_components/angular/angular.min.js"></script>

    <script src="../js/clank/ratchet/fingerblast.js"></script>
    <script src="../js/clank/ratchet/sliders.js"></script>
    <script src="../js/clank/ratchet/toggles.js"></script>
    <script src="../js/clank/clank.js"></script>
    <script src="../bower_components/angular-pageslide-directive/dist/angular-pageslide-directive.min.js"></script>
    <script src="../bower_components/typeahead.js/dist/typeahead.jquery.min.js"></script>
    <script src="../bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
    <script src="../bower_components/typeahead.js/dist/bloodhound.min.js"></script>
    <script src="../js/entertain.js"></script>
    <script src="../js/blood.js"></script>

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=182114351849103";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="cl-device-frame" ng-app="Entertain">
    <div class="cl-device-wrap" data-os="ios" data-device="iphone4-portrait">

        <div class="cl-device-body">

            <div class="cl-ios-status">
          <span>
            <span class="signals">
              <span class="signal1"></span>
              <span class="signal2"></span>
              <span class="signal3"></span>
              <span class="signal4"></span>
              <span class="signal5"></span>
            </span>
            <span class="carrier">Bell</span>
          </span>
                <span class="clock">20:49</span>
          <span>
            <span>3G</span>
            <span class="icon-ios6-alarm"></span>
            <span class="icon-ios6-locate"></span>
            <span class="icon-ios6-lock"></span>
            <span class="icon-ios6-battery"></span>
          </span>
            </div>

            <div class="cl-page container-fluid" ng-controller="EntertainController">
                <div class="cl-bar-title">
                    <div class="cl-title">Home</div>
                </div>

                <div class="cl-content row">
                    <!--Side bar-->
                    <div class="row">
                        <pageslide ps-open="checked" ps-side="left" ps-container="settings" ps-size="100%">
                            <div class="row container-fluid">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <span>Settings</span>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-default float-right" aria-label="Left Align"
                                            ng-click="toggle_settings()">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <span class="pointer_cursor col-sm-offset-1" ng-model="collapsed"
                                    ng-click="collapsed=!collapsed">Feed items</span>
                            </div>
                            <div ng-show="collapsed" class="collapse in row container-fluid">
                                <div>
                                    <label class="col-sm-offset-2" for="settings_jokes">Enable Jokes &nbsp</label>
                                    <input type="checkbox" ng-model="settings_jokes" name="settings_jokes" id="settings_jokes">

                                    <label class="col-sm-offset-2" for="settings_videos">Enable Videos</label>
                                    <input type="checkbox" ng-model="settings_videos" name="settings_videos" id="settings_videos">

                                    <label class="col-sm-offset-2" for="settings_movies">Enable Movies</label>
                                    <input type="checkbox" ng-model="settings_movies" name="settings_movies" id="settings_movies">

                                    <label class="col-sm-offset-2" for="settings_events">Enable Events</label>
                                    <input type="checkbox" ng-model="settings_events" name="settings_events" id="settings_events">
                                </div>
                            </div>

                            <!--Search categories-->
                            <div class="row container-fluid">
                                <div id="bloodhound_joke" class="col-sm-offset-1">
                                    <span class="col-sm-5"><label for="joke_category">Joke categories</label></span>
                                    <span class="col-sm-6"><input name="joke_category" id="joke_category"
                                        class="typeahead col-sm-11" type="text" placeholder="Start typing..."></span>
                                </div>
                            </div>
                            <div class="row container-fluid">
                                <div id="bloodhound_video" class="col-sm-offset-1">
                                    <span class="col-sm-5"><label for="video_category">Videos categories</label></span>
                                    <span class="col-sm-6"><input name="video_category" id="video_category"
                                        class="typeahead col-sm-11" type="text" placeholder="Start typing..."></span>
                                </div>
                            </div>
                            <div class="row container-fluid">
                                <div id="bloodhound_events" class="col-sm-offset-1">
                                    <span class="col-sm-5"><label for="events_category">Events categories</label></span>
                                    <span class="col-sm-6"><input name="events_category" id="events_category"
                                          class="typeahead col-sm-11" type="text" placeholder="Start typing..."></span>
                                </div>
                            </div>

                            <!-- Movies section starts here-->
                            <div>
                                <span class="pointer_cursor col-sm-offset-1" ng-model="collapsed2"
                                    ng-click="collapsed2=!collapsed2">Movies</span>
                            </div>
                            <div ng-show="collapsed2" class="collapse in row container-fluid">
                                <div id="bloodhound_genre" class="col-sm-offset-2">
                                    <span class="col-sm-4"><label for="genre_category">Genre</label></span>
                                    <span class="col-sm-6"><input name="genre_category" id="genre_category"
                                        class="typeahead col-sm-11" type="text" placeholder="Start typing..."></span>
                                </div>

                                <div id="bloodhound_director" class="col-sm-offset-2">
                                    <span class="col-sm-4"><label for="director_category">Directors</label></span>
                                    <span class="col-sm-6"><input name="director_category" id="director_category"
                                        class="typeahead col-sm-11" type="text" placeholder="Start typing..."></span>
                                </div>

                                <div id="bloodhound_actor" class="col-sm-offset-2">
                                    <span class="col-sm-4"><label for="actor_category">Actors</label></span>
                                    <span class="col-sm-6"><input name="actor_category" id="actor_category"
                                        class="typeahead col-sm-11" type="text" placeholder="Start typing..."></span>
                                </div>
                            </div>
                            <!-- End of movies section-->
                        </pageslide>
                    </div>
                    <!--End of side bar-->
                    <!--Top navbar-->
                    <div class="row container-fluid">
                        <div class="col-sm-4 float-left">
                            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="toggle_settings()">
                                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="col-sm-5">Ankit Agarwal</div>
                        <div class="col-sm-3">
                            <a href="index.html" class="float-right">Logout</a>
                        </div>
                    </div>
                    <!--End of Top navbar-->

                    <div class="row container-fluid" id="settings"></div>

                    <!--Main content-->
                    <div class="cl-article cl-article-centered container-fluid">
                        <div ng-show="show_tabs()">
                            <ul class="nav nav-tabs">
                                <li ng-class="{active: is_tab_active('jokes')}" ng-show="settings_jokes"
                                    ng-click="switch_tab('jokes')"><a href="#">Jokes</a></li>
                                <li ng-class="{active: is_tab_active('videos')}" ng-show="settings_videos"
                                    ng-click="switch_tab('videos')"><a href="#">Videos</a></li>
                                <li ng-class="{active: is_tab_active('movies')}" ng-show="settings_movies"
                                    ng-click="switch_tab('movies')"><a href="#">Movies</a></li>
                                <li ng-class="{active: is_tab_active('events')}" ng-show="settings_events"
                                    ng-click="switch_tab('events')"><a href="#">Events</a></li>
                            </ul>
                        </div>
                        <span class="col-sm-1" ng-click="prev()">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </span>
                        <span class="col-sm-10">
                            {{content}}
                        </span>
                        <span class="col-sm-1">
                            <a href="#" aria-label="Next" ng-click="next()">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </span>
                    </div>
                    <!--End of main content-->

                    <!--Thumbs up and down buttons-->
                    <div class="row container-fluid">
                        <div class="col-sm-6">
                            <button type="button" ng-click="toggle_thumbsup()" class="float-right">
                                <span class="glyphicon glyphicon-large glyphicon-thumbs-up col-xs-6 {{thumbsup}}"></span>
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" ng-click="toggle_thumbsdown()">
                                <span class="glyphicon glyphicon-large glyphicon-thumbs-down col-xs-6 {{thumbsdown}}"></span>
                            </button>
                        </div>
                    </div>
                    <!--End of Thumbs up and down buttons-->


                    <div class="row container-fluid top-buffer">
                        <div class="col-sm-4">Share on:</div>
                    </div>
                    <div class="row container-fluid">
                        <a class="col-sm-offset-2 col-sm-4"
                           href="http://www.facebook.com/sharer/sharer.php?u=[URL]&title=[TITLE]"><img
                                src="../images/images/fb-art.jpg" class="social"/></a>
                        <a class="col-sm-3 col-sm-offset-1"
                            href="http://twitter.com/intent/tweet?status=[TITLE]+[URL]"><img
                            src="../images/images/twitter.png" class="social"/></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

</body>
</html>
<script src="../js/blood-footer.js"></script>