<div class="cl-ios-status">
          <span>
            <span class="signals">
              <span class="signal1"></span>
              <span class="signal2"></span>
              <span class="signal3"></span>
              <span class="signal4"></span>
              <span class="signal5"></span>
            </span>
            <span class="carrier">Bell</span>
          </span>
    <span class="clock">20:49</span>
          <span>
            <span>3G</span>
            <span class="icon-ios6-alarm"></span>
            <span class="icon-ios6-locate"></span>
            <span class="icon-ios6-lock"></span>
            <span class="icon-ios6-battery"></span>
          </span>
</div>