<link rel="stylesheet" href="../css/clank.css" media="screen">
<link rel="stylesheet" href="../css/entertain.css" media="screen">

<script src="../bower_components/jquery/jquery.min.js"></script>
<script src="../bower_components/jquery.extendedinput.js/js/jquery.extendedinput.min.js"></script>
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="../bower_components/angular/angular.min.js"></script>
<link rel="stylesheet" href="../bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css">

<script src="../js/clank/ratchet/fingerblast.js"></script>
<script src="../js/clank/ratchet/sliders.js"></script>
<script src="../js/clank/ratchet/toggles.js"></script>
<script src="../js/clank/clank.js"></script>
<script src="../bower_components/angular-pageslide-directive/dist/angular-pageslide-directive.min.js"></script>
<script src="../bower_components/typeahead.js/dist/typeahead.jquery.min.js"></script>
<script src="../bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script src="../bower_components/typeahead.js/dist/bloodhound.min.js"></script>
<script src="../js/entertain.js"></script>
<script src="../js/blood.js"></script>
<script src="../bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
<script src="../bower_components/ui.bootstrap/src/dateparser/dateparser.js"></script>
<script src="../bower_components/ui.bootstrap/src/position/position.js"></script>
<script src="../bower_components/ui.bootstrap/src/datepicker/datepicker.js"></script>